* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav ul li {
   /* display: block; */
   /* display: inline; /* uma ao lado do outro */
   display: inline-block;

   margin-right: 16px;
}

